<!DOCTYPE html>
<html>

<head>
    <title>DDOT SNAPs Data Visualization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


    <!-- Code below import leaflet libraries -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
    <![endif]-->

    {% block StaticFiles %}{% endblock %}

</head>

<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" name="top"> Visualizations </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="mapps"><i class="icon-map-marker icon-white"></i> Map Heat </a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li><a href="highchart"><i class="icon-signal icon-white"></i> High Chart </a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li><a href="bubble"><i class="icon-envelope icon-white"></i> Bubbles </a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li><a href="nze"><i class="icon-calendar icon-white"></i> NZE </a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li><a href="smx"><i class="icon-comment icon-white"></i> Scatter Matrix </a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li><a href="tree"><i class="icon-file icon-white"></i> Treemap </a>
                        </li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.navbar -->

    <div class="container-fluid" style="margin: 0px 10px 30px 3px;">
        <div class="row-fluid">
            <div class="span12">
                {% block BodyContent %}{% endblock %}
            </div>
        </div>
    </div>

</body>

</html>
